#title {
  text-align: center;
  font-size: 2em;
}

.line {
  stroke: #808080;
  stroke-width: 4;
  fill: none;
}

.selected {
  stroke: #007eef;
  stroke-width: 8;
}

#startpt {
  fill: #FF0000;
  stroke: #01539C;
  stroke-width: 0.2em;
}

#endpt {
  fill: #00FF00;
  stroke: #01539C;
  stroke-width: 0.2em;
}

#svgdiv {
  width: 100%;
}

svg {
  height: 100%;
  width: 96vmin;
  display: block;
  margin: auto;
}

#inputdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

#inputdiv input {
  padding: 0.25em;
  margin-right: 1em;
}