#title {
  text-align: center;
  font-size: 2em;
}

.line {
  stroke: #808080;
  stroke-width: 4;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.selected {
  stroke: #007eef;
  stroke-width: 8;
}

.maskedselected {
  stroke-width: 100;
  stroke: white;
}

#startpt {
  fill: #00FF00;
  stroke: #01539C;
  stroke-width: 0.2em;
}

#endpt {
  fill: #FF0000;
  stroke: #01539C;
  stroke-width: 0.2em;
}
#agent {
  fill: #FFA500;
  stroke: #01539C;
  stroke-width: 0.2em;
}

#svgdiv {
  width: 100%;
}

svg {
  max-height: 200vh;
  max-width: 96vmin;
  display: block;
  margin: auto;
  border: #808080 solid 2px;
}

#inputdiv {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  flex-wrap: wrap;
  gap: 1em;
}

#inputdiv input {
  padding: 0.25em;
}

html{
  overflow-x: hidden;
}
#scroll{
  overflow: auto;
  z-index: 1;
  position: absolute;
  left: 50%;
  translate: -50%;
}
#scroll::-webkit-scrollbar {
  width: 0px;
}